/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", cursive;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
}

.loading:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
          animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(147, 86, 220, 0.75) 1.5em 0 0 0, rgba(147, 86, 220, 0.75) 1.1em 1.1em 0 0, rgba(147, 86, 220, 0.75) 0 1.5em 0 0, rgba(147, 86, 220, 0.75) -1.1em 1.1em 0 0, rgba(147, 86, 220, 0.75) -1.5em 0 0 0, rgba(255, 121, 218, 0.75) -1.1em -1.1em 0 0, rgba(255, 121, 218, 0.75) 0 -1.5em 0 0, rgba(255, 121, 218, 0.75) 1.1em -1.1em 0 0;
          box-shadow: rgba(147, 86, 220, 0.75) 1.5em 0 0 0, rgba(147, 86, 220, 0.75) 1.1em 1.1em 0 0, rgba(147, 86, 220, 0.75) 0 1.5em 0 0, rgba(147, 86, 220, 0.75) -1.1em 1.1em 0 0, rgba(147, 86, 220, 0.75) -1.5em 0 0 0, rgba(255, 121, 218, 0.75) -1.1em -1.1em 0 0, rgba(255, 121, 218, 0.75) 0 -1.5em 0 0, rgba(255, 121, 218, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}

#hideMeAfter2Seconds {
  -webkit-animation: hideAnimation 0s ease-in 2s;
          animation: hideAnimation 0s ease-in 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.logo {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.logo img {
  width: 50%;
}

.search {
  text-align: center;
}

.search form {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  background-color: #eaeaea;
  padding: 10px 0px;
}

.search form input:focus, .search form textarea:focus, .search form select:focus {
  outline: none;
}

.search i {
  position: relative;
  left: 25px;
}

.search input {
  border: none;
  text-align: center;
  background-color: #eaeaea;
}

.headerText {
  background-color: #f6f6f6;
  padding-top: 25px;
  padding-bottom: 40px;
  text-align: center;
}

.headerText h1 {
  font-size: larger;
  font-weight: bold;
  margin-left: 55px;
  margin-right: 55px;
}

.headerText p {
  margin-top: 15px;
}

.headerText button {
  margin-top: 25px;
  color: white;
  border: 0 solid white;
  background: #FF79DA;
  background: linear-gradient(174deg, #FF79DA 0%, #9356DC 70%);
  border-radius: 20px;
  font-size: small;
  font-weight: 400;
  padding: 10px 15px;
}

.headerTools {
  padding-top: 40px;
  padding-bottom: 60px;
}

.headerTools h1 {
  font-size: larger;
  font-weight: bold;
  margin-left: 10px;
}

.toolsButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: auto;
}

.toolsButton .button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 15px;
  width: 80%;
  background-color: #f6f6f6;
  border: 0px solid white;
  -webkit-box-shadow: 0px 2px 4px 0px #00000033;
          box-shadow: 0px 2px 4px 0px #00000033;
  padding: 20px;
  cursor: pointer;
}

.toolsButton .button1:hover {
  background-color: rgba(147, 86, 220, 0.2);
  -webkit-box-shadow: 0px 6px 10px 0px #00000033;
          box-shadow: 0px 6px 10px 0px #00000033;
}

.toolsButton .button1:hover button {
  background-color: rgba(147, 86, 220, 0);
}

.toolsButton .button1:hover i {
  color: #9356DC;
}

.toolsButton .button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  width: 80%;
  background-color: #f6f6f6;
  border: 0px solid white;
  -webkit-box-shadow: 0px 2px 4px 0px #00000033;
          box-shadow: 0px 2px 4px 0px #00000033;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

.toolsButton .button2:hover {
  background-color: rgba(147, 86, 220, 0.2);
  -webkit-box-shadow: 0px 6px 10px 0px #00000033;
          box-shadow: 0px 6px 10px 0px #00000033;
}

.toolsButton .button2:hover button {
  background-color: rgba(147, 86, 220, 0);
}

.toolsButton .button2:hover i {
  color: #9356DC;
}

.toolsButton .button3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  width: 80%;
  background-color: #f6f6f6;
  border: 0px solid white;
  -webkit-box-shadow: 0px 2px 4px 0px #00000033;
          box-shadow: 0px 2px 4px 0px #00000033;
  padding: 20px;
  margin-top: 20px;
}

.toolsButton .button3 p {
  padding: 4px 4px 4px 6px;
}

.toolsButton .button3:hover {
  background-color: rgba(147, 86, 220, 0.2);
  -webkit-box-shadow: 0px 6px 10px 0px #00000033;
          box-shadow: 0px 6px 10px 0px #00000033;
}

.toolsButton .button3:hover button {
  background-color: rgba(147, 86, 220, 0);
}

.toolsButton .button3:hover i {
  color: #9356DC;
}

.toolsButton button {
  border: none;
  background-color: #f6f6f6;
  font-weight: bold;
}

.toolsButton i {
  position: absolute;
  left: 30px;
  color: #7e7e7e;
}

.toolsButton p {
  position: absolute;
  color: white;
  left: -7px;
  border: 0px solid white;
  border-radius: 60%;
  width: 20px;
  padding: 3px;
  background-color: #9356DC;
  font-size: smaller;
}

.restaurant {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.restaurant h1 {
  font-size: larger;
  font-weight: bold;
  margin-left: 15px;
}

.restauranteCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restauranteCard .cardR {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 15px 15px 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 90%;
  text-decoration: none;
}

.restauranteCard .imgR {
  position: relative;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restauranteCard span {
  position: absolute;
  top: 5px;
  right: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 5px;
  background-color: #99E2D0;
  color: #008766;
  font-size: small;
  font-weight: bold;
}

.restauranteCard .containerR {
  position: relative;
  color: black;
  padding: 10px 20px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0px 0px 15px 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-decoration: none;
}

.restauranteCard h4 {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.restauranteCard p {
  color: black;
}

.restauranteCard .far {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 10;
  background-color: white;
}

.restauranteCard .far:focus {
  z-index: 0;
  color: transparent;
  background-color: transparent;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.restauranteCard .fas {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 20px;
  color: #FF79DA;
}

.restauranteCard .fas:focus {
  background-color: transparent;
  color: transparent;
}

.foot {
  background-color: #353535;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.foot h1 {
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 10px;
}

.foot h1, .foot p {
  margin-left: 20px;
}

.foot p {
  margin-bottom: 7px;
}

.foot .foot1 {
  position: relative;
}

.foot .foot1 i {
  display: inline-block;
  margin-left: 20px;
}

.foot .foot1 p {
  display: inline-block;
  margin-left: 5px;
}

.foot .foot2 {
  position: relative;
}

.foot .foot2 i {
  display: inline-block;
  margin-left: 20px;
}

.foot .foot2 p {
  display: inline-block;
  margin-left: 0px;
}
/*# sourceMappingURL=style.css.map */