$font-stack: 'Roboto', cursive;
$font-title: 'Shrikhand', sans-serif;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
@import "reset.scss";

* {
    box-sizing: border-box;
    font-family: $font-stack;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  }
  
  .loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    box-shadow: rgba(147, 86, 220, 0.75) 1.5em 0 0 0, rgba(147, 86, 220, 0.75) 1.1em 1.1em 0 0, rgba(147, 86, 220, 0.75) 0 1.5em 0 0, rgba(147, 86, 220, 0.75) -1.1em 1.1em 0 0, rgba(147, 86, 220, 0.75) -1.5em 0 0 0, rgba(255, 121, 218, 0.75) -1.1em -1.1em 0 0, rgba(255, 121, 218, 0.75) 0 -1.5em 0 0, rgba(255, 121, 218, 0.75) 1.1em -1.1em 0 0;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
      visibility:hidden;
    }
  }

  #hideMeAfter2Seconds {
    animation: hideAnimation 0s ease-in 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

.logo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;

    img {
        width: 50%;
    }
}

.search {
    text-align: center;

    form {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        background-color: #eaeaea;
        padding: 10px 0px;

        input:focus, textarea:focus, select:focus {
            outline: none;
        }
    }

    i {
        position: relative;
        left: 25px;
    }

    input {
        border: none;
        text-align: center;
        background-color: #eaeaea;
    }
}

.headerText {
    background-color: #f6f6f6;
    padding-top: 25px;
    padding-bottom: 40px;
    text-align: center;

    h1 {
        font-size: larger;
        font-weight: bold;
        margin-left: 55px;
        margin-right: 55px; 
    }

    p {
        margin-top: 15px;
    }

    button {
        margin-top: 25px;
        color: white;
        border: 0 solid white;
        background: $secondary-color;
        background: linear-gradient(174deg, $secondary-color 0%, $primary-color 70%);
        border-radius: 20px;
        font-size: small;
        font-weight: 400;
        padding: 10px 15px;

        &:hover {
            background: linear-gradient(174deg, lighten( $secondary-color, 10% ), lighten( $primary-color, 10% ));
        }
    }
    
}

.headerTools {
    padding-top: 40px;
    padding-bottom: 60px;

    h1 {
        font-size: larger;
        font-weight: bold;
        margin-left: 10px;
    }
}

.toolsButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: auto;

    .button1 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 15px;
        width: 80%;
        background-color: #f6f6f6;
        border: 0px solid white;
        box-shadow: 0px 2px 4px 0px #00000033;
        padding: 20px;
        cursor: pointer;

        &:hover {
            background-color: rgba(147, 86, 220, 0.2);
            box-shadow: 0px 6px 10px 0px #00000033;

            button {
                background-color: rgba(147, 86, 220, 0.0)
            }
            
            i {
                color: $primary-color;
            }
        }
    }

    .button2 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: 80%;
        background-color: #f6f6f6;
        border: 0px solid white;
        box-shadow: 0px 2px 4px 0px #00000033;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: rgba(147, 86, 220, 0.2);
            box-shadow: 0px 6px 10px 0px #00000033;

            button {
                background-color: rgba(147, 86, 220, 0.0)
            }
            
            i {
                color: $primary-color;
            }
        }
    }

    .button3 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: 80%;
        background-color: #f6f6f6;
        border: 0px solid white;
        box-shadow: 0px 2px 4px 0px #00000033;
        padding: 20px;
        margin-top: 20px;

        p {
            padding: 4px 4px 4px 6px;
        }

        &:hover {
            background-color: rgba(147, 86, 220, 0.2);
            box-shadow: 0px 6px 10px 0px #00000033;

            button {
                background-color: rgba(147, 86, 220, 0.0)
            }
            
            i {
                color: $primary-color;
            }
        }
    }

    button {
        border: none;
        background-color: #f6f6f6;
        font-weight: bold;
    }

    i {
        position: absolute;
        left: 30px;
        color: #7e7e7e;
    }

    p {
        position: absolute;
        color: white;
        left: -7px;
        border: 0px solid white;
        border-radius: 60%;
        width: 20px;
        padding: 3px;
        background-color: $primary-color;
        font-size: smaller;
    }
}

.restaurant {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #f6f6f6;

    h1 {
        font-size: larger;
        font-weight: bold;
        margin-left: 15px;
    }
}

.restauranteCard {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

    .cardR {
        position: relative;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 15px 15px 0 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 90%;
        text-decoration: none;
    }

    .imgR {
        position: relative;
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    span {
        position: absolute;
        top: -120px;
        right: 10px;
        border: 1px solid transparent;
        border-radius: 2px;
        padding: 5px;
        background-color: $tertiary-color;
        color: #008766;
        font-size: small;
        font-weight: bold;
    }

    .containerR {
        position: relative;
        color: black;
        padding: 10px 20px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 0px 0px 15px 15px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-decoration: none;
    }

    h4 {
        font-weight: bold;
        margin-bottom: 5px;
        color: black;
    }

    p {
        color: black;
    }
    
    .far {
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 10;
        color: white;
        background-clip: content-box;

        &:focus {
            z-index: 0;
            color: transparent;
            background-color: transparent;
            transition: all 2s ease-out;
            background-clip: content-box;
        }
    }

    .fas {
        position: absolute;
        z-index: 1;
        top: 15px;
        right: 20px;
        background-clip: content-box;

        &:focus {
            background-color: transparent;
            color: transparent;
            background-clip: content-box;
        }
    }

    .pdgCard {
        position: relative;
        width: 90%;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .neCard {
        position: relative;
        width: 90%; 
        padding-bottom: 20px;
    }

    .alfCard {
        width: 90%; 
        padding-bottom: 20px;
    }

    .ddsCard {
        width: 90%;
    }
}

.foot {
    background-color: #353535;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;

    h1 {
        font-family: $font-title;
        margin-bottom: 10px;
    }

    h1, p {
        margin-left: 20px;
    }

    p {
        margin-bottom: 7px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .foot1 {
        position: relative;
        i {
            display: inline-block;
            margin-left: 20px;
        }

        p {
            display: inline-block;
            margin-left: 5px;
        }
    }

    .foot2 {
        position: relative;
        i {
            display: inline-block;
            margin-left: 20px;
        }

        p {
            display: inline-block;
            margin-left: 0px;
        }
    }
}

@media screen and (min-width: 768px) {
    .foot {
        h1 {
            margin-bottom: 20px;
        }
    }
    
    .footerText {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1024px) {
    .toolsButton {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .button1 {
            width: 25%;
            margin: 20px 0 0;
        }

        .button2 {
            width: 25%;
        }

        .button3 {
            width: 25%;
        }
    }

    .logo {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;

        img {
        width: 30%;
        }
    }
    
    .headerText {
        padding-bottom: 20px;
        padding-top: 12.5px;
    }

    .headerTools {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .restaurant {
        padding-bottom: 30px;
        padding-top: 20px;
    }
    
    .restauranteCard {
        display: grid;
        grid-template-areas: "pdg ne"
                             "alf dds";
        gap: 20px 40px;
        justify-content: stretch;
        margin-left: 20px;
        margin-right: 20px;

        .pdgCard {
            width: auto;
            padding-bottom: 20px;
            padding-top: 20px;
        }
                        
        .neCard {
            width: auto; 
            padding-bottom: 0px;
        }
                        
        .alfCard {
            width: 100%; 
            padding-bottom: 0px;
        }
                        
        .ddsCard {
            width: 100%;
        }
    }

    .foot {
        padding: 20px 0 40px;
    }

    .restauranteCard {
        .far {
            &:hover {
                z-index: 0;
                color: transparent;
                background-color: transparent;
                transition: all 2s ease-out;
            }
        }
    
        .fas {
            &:hover {
                background-color: transparent;
                color: transparent;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .logo {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;

        img {
        width: 20%;
        }
    }

    .toolsButton {
        margin-top: 0px;
    }

    .restauranteCard {
        justify-items: center;
        margin-left: 0px;
        margin-right: 0px;                     

        .pdgCard {
            width: 70%;
        }
                        
        .neCard {
            width: 70%;
        }
                        
        .alfCard {
            width: 70%;
        }
                        
        .ddsCard {
            width: 70%;
        }
    }
}

@media screen and (min-width: 1920px) {

    .logo {
        margin-top: 20px;
        margin-bottom: 20px;

        img {
        width: 15%;
        }
    }

    .search {
        form {
            padding: 21px 0;
        }
    }
    
    .headerText {
        padding: 31px 0;
    }
    
    .headerTools {
        padding: 41px 0;
    }

    .restaurant {
        padding: 41px 0;
    }

    .restauranteCard {
        display: grid;
        grid-template-areas: "pdg ne alf dds";
        gap: 20px 20px;
        margin-left: 15px;
        margin-right: 15px;                     

        .pdgCard {
            width: 100%;
            padding-bottom: 20px;
            padding-top: 20px;
        }
                        
        .neCard {
            width: 100%; 
            padding-bottom: 0px;
        }
                        
        .alfCard {
            width: 100%; 
            padding-bottom: 0px;
        }
                        
        .ddsCard {
            width: 100%;
        }
    }
}