/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", cursive;
}

.logo {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.logo img {
  width: 50%;
}

.logo svg {
  position: absolute;
  left: 12px;
  top: 6px;
}

.imgMenu img {
  position: relative;
}

.menu {
  position: relative;
  top: -25px;
  background-color: #f6f6f6;
  padding-top: 25px;
  padding-bottom: 40px;
  border-radius: 25px 25px 0 0;
}

.menu > h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: larger;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 20px;
}

.menu .hnp {
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 10;
  cursor: pointer;
  background-color: white;
  stroke-width: 0px;
  stroke: transparent;
  outline: none;
}

.menu .hnp:focus {
  z-index: 0;
  color: transparent;
  background-color: transparent;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  stroke-width: 0px;
  outline: none;
}

.menu .hp {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 25px;
  cursor: pointer;
  stroke-width: 0px;
  stroke: transparent;
  fill: url(#lgrad);
  outline: none;
}

.menu .hp:focus {
  background-color: transparent;
  color: transparent;
  stroke-width: 0px;
  outline: none;
}

.menu .testi2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  stroke-width: 0px;
  stroke: transparent;
  z-index: 10;
  outline: none;
}

.menu .testi2:focus svg * {
  fill: url(#lgrad);
  z-index: 0;
  color: transparent;
  background-color: transparent;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  stroke-width: 0px;
  outline: none;
}

.menu .testi1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  stroke-width: 0px;
  stroke: transparent;
  z-index: 1;
  outline: none;
}

.menu .testi1 svg * {
  fill: url(#lgrad);
  outline: none;
}

.menu .container {
  position: relative;
  color: black;
  padding: 10px 20px 10px 10px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 15px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-decoration: none;
  margin-bottom: 10px;
}

.menu button {
  margin-top: 25px;
  color: white;
  border: 0 solid white;
  background: #FF79DA;
  background: linear-gradient(174deg, #FF79DA 0%, #9356DC 70%);
  border-radius: 20px;
  font-size: small;
  font-weight: 400;
  padding: 10px 40px;
  margin-left: auto;
  margin-right: auto;
}

.menu button:hover {
  background: linear-gradient(174deg, #fface8, #ae80e5);
}

.menu .fakediv {
  -webkit-animation: fade 3s forwards 1s;
          animation: fade 3s forwards 1s;
  opacity: 0;
}

.menu .entrees {
  -webkit-animation: fade 3s forwards 1s;
          animation: fade 3s forwards 1s;
  opacity: 0;
}

.menu .plats {
  -webkit-animation: fade 3s forwards 1s;
          animation: fade 3s forwards 1s;
  opacity: 0;
}

.menu .desserts {
  -webkit-animation: fade 3s forwards 1s;
          animation: fade 3s forwards 1s;
  opacity: 0;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    padding-bottom: 1000px;
  }
  to {
    opacity: 1;
    padding-bottom: 10px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    padding-bottom: 1000px;
  }
  to {
    opacity: 1;
    padding-bottom: 10px;
  }
}

.container h1 {
  font-weight: bold;
  font-size: small;
  margin-bottom: 3px;
}

.container p {
  font-size: small;
  color: rgba(0, 0, 0, 0.4);
}

.container h3 {
  position: absolute;
  font-size: small;
  bottom: 14px;
  right: 16px;
}

.container .addF {
  position: absolute;
  background-color: #99E2D0;
  color: white;
  border: 1px solid #99E2D0;
  border-radius: 0 15px 15px 0;
  padding: 19px 0px 19px 0px;
  top: 0px;
  right: 0px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.container:active .addF {
  display: inline;
  -webkit-animation: r-t-l 1s linear 0s 1 ease-in-out;
          animation: r-t-l 1s linear 0s 1 ease-in-out;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.container:active svg {
  -webkit-animation: rotate 1s linear 0s 1 forwards;
          animation: rotate 1s linear 0s 1 forwards;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.container:active h3 {
  right: 70px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.container:active p {
  width: 180px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@-webkit-keyframes r-t-l {
  from {
    padding: 19px 0px 19px 0px;
  }
  to {
    padding: 19px;
  }
}

@keyframes r-t-l {
  from {
    padding: 19px 0px 19px 0px;
  }
  to {
    padding: 19px;
  }
}

@-webkit-keyframes r-t-l-out {
  from {
    padding: 19px;
  }
  to {
    padding: 19px 0px 19px 0px;
  }
}

@keyframes r-t-l-out {
  from {
    padding: 19px;
  }
  to {
    padding: 19px 0px 19px 0px;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.button {
  text-align: center;
}

.entrees h4 {
  margin-left: 15px;
  margin-bottom: 14px;
  font-weight: 300;
  font-size: small;
  position: relative;
  padding-bottom: 5px;
}

.entrees h4::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.entrees p {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.plats h4 {
  margin-left: 15px;
  margin-bottom: 14px;
  font-weight: 300;
  font-size: small;
  position: relative;
  padding-bottom: 5px;
}

.plats h4::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.plats p {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.desserts h4 {
  margin-left: 15px;
  margin-bottom: 14px;
  font-weight: 300;
  font-size: small;
  position: relative;
  padding-bottom: 5px;
}

.desserts h4::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.desserts p {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.foot {
  background-color: #353535;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.foot h1 {
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 10px;
}

.foot h1, .foot p {
  margin-left: 20px;
}

.foot p {
  margin-bottom: 7px;
}

.foot a {
  text-decoration: none;
  color: white;
}

.foot .foot1 {
  position: relative;
}

.foot .foot1 svg {
  display: inline-block;
  margin-left: 20px;
}

.foot .foot1 p {
  display: inline-block;
  margin-left: 5px;
}

.foot .foot2 {
  position: relative;
}

.foot .foot2 svg {
  display: inline-block;
  margin-left: 20px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.foot .foot2 p {
  display: inline-block;
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  .logo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .logo img {
    width: 40%;
  }
  .imgMenu img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .foot h1 {
    margin-bottom: 20px;
  }
  .footerText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .logo img {
    width: 30%;
  }
  .imgMenu img {
    height: 300px;
  }
  .menu {
    width: 70%;
    margin: auto;
  }
  .container:hover .addF {
    visibility: visible;
    padding: 19px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .container:hover svg {
    -webkit-animation: rotate 1s linear 0s 1 forwards;
            animation: rotate 1s linear 0s 1 forwards;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .container:hover h3 {
    right: 70px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .foot {
    padding: 20px 0 40px;
  }
}

@media screen and (min-width: 1440px) {
  .logo img {
    width: 20%;
  }
  .menu {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */